body {
  background-color: #222222;
  color: #dddddd;
}

main {
  margin: 0 auto;
  // padding: 25px 25px;
  min-height: 100vh;
  max-width: 1800px;
  background-color: #eeeeee;
  color: #222222;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}
