@use 'colors' as *;

body {
  background-color: $neutral-100;
  color: $neutral-900;

  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
}

main {
  margin: 0 auto;
  // padding: 25px 25px;
  min-height: 100vh;
  max-width: 1800px;

  // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

section {
  padding: 20px 10px;

  &>.title {
    margin-bottom: 20px;
  }
}

.top-link {
  position: fixed;
  bottom: 50px;
  left: 100px;
  display: block;
  width: fit-content;
  height: fit-content;
}
